body {
	background: red;
}

h1 {
	margin: 0;
	font-family: verdana, gotham, helvetica, arial, sans-serif;
	font-style: italic;
	font-weight: normal;
	font-size: 120px;
	line-height: 1.5;
	letter-spacing: .05em;
	text-transform: uppercase;
	color: grey;
}