.nav {
	padding: 0;
	padding: 0 0;
	padding: 0 0 0 0;
	padding-top: 0;
	padding-right: 0;
	padding-left: 0;
	padding bottom: 0;
	list-style: none;
}


.nav li {
	display: inline-block;
}


.nav a {
	color: white;
	position: relative;
	display: inline-block;
	padding: 1em;
	background: black;
	transition: all 1s cubic-bezier(.62,.45,.55,.78);
}

.nav a:hover {
	color: black;
	background: #FDD017;
	transition-duration: .3s;
}

.nav a:after {
	content: '';
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 0%;
	height: 5px;
	background: black;
	transition: all .3s cubic-bezier(.62,.45,.55,.78);
}	
	
.nav a:hover:after {
	width: 100%;
}
	
.nav.fit {
	display: table;
	width: 100%;
}


.nav.fit li {
	display: table-cell;
}


.nav.fit a {
	display: block;
}


.bar {

}


#primary-nav {

}